:root{
  --pink-color: #FCB2BF;
  --light-purple-color: #CF56A1;
  --purple-color: #8B2F97;
  --dark-purple-color: #511E78;
  --green-color: #96D38C;
  --red-color: #CF4647;
  --white-color: #fff;
  --black-color: #000;

  --main-bg-color: tomato;
  --primary-color: var(--purple-color);

  --ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1);
}

*{
  box-sizing: border-box;
}

html,body{
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,body,#root{
  height: 100%;
}
button, .button{
  cursor: pointer;
  padding: 10px;
  border: 0;
  background: var(--white-color);
}

.app-header-menu a{
  color: var(--white-color);
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
}
.app-header-menu a:hover{
  background: rgba(255, 255, 255, .2);
}

/*.question-overlay-text{*/
  /*transform: scale(0);*/
  /*transition: all .5s var(--ease-in-out-cubic);*/
/*}*/
/*.question-overlay.show .question-overlay-text{*/
  /*transform: scale(1);*/
/*}*/
/*.question-answer-item-inner:hover{*/
  /*opacity: .7;*/
  /*background-color: var(--primary-color);*/
  /*color: #fff;*/
/*}*/
/*.question-answer-item-inner:focus{*/
  /*outline: none;*/
/*}*/
